<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Image URL</title>
</head>
<body>
<h1>Testing Image URL</h1>
<p>If the image below is displayed, the URL is working:</p>

<!-- Image Tag -->
<img
        src="https://image-gallery-basket-new.s3.eu-west-1.amazonaws.com/kwame?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250326T120030Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUZPNLP6R4E2W6JEJ%2F20250326%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Expires=7200&X-Amz-Signature=afb6d7c8f9ceba0fa6e6ab8b07930d6e27bdab65324b3de4981c37aff12a0f16"
        alt="Test Image"
        style="max-width: 100%; height: auto;"
>

<p>If the image does not appear, check the following:</p>
<ul>
    <li>The URL might have expired (pre-signed URLs are temporary).</li>
    <li>The S3 bucket permissions might not allow access.</li>
    <li>The image format (e.g., `.avif`) might not be supported by your browser.</li>
</ul>
</body>
</html>